@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    img {
        max-width: 100%;
        height: auto;
    }
}

@layer utilities {
    @media (max-width: 1023px) {
        table {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            border-spacing: 0;
        }
        table thead,
        table tbody,
        table tfoot,
        table tr {
            width: max-content;
        }
    }
}
